
        .red-tint:before{
          content: '';
          position: absolute;
          width: inherit;
          height: inherit;
          top: 0;
          left: 0;
          background: rgba(40,40,40,0.2);
        }

        .navbar-transparent {
          background: rgba(0,0,0,0.2);
        }

        .navbar {
          background-image: url(../img/spp_logo_thumb.png);
          background-position: left center;
          background-repeat: no-repeat;
          background-size: contain;
        }

        .navbar-transparent .navbar-nav li a{
          font-weight: bold;
        }

        .navbar-transparent .navbar-nav li a:hover{
          background-color: rgb(204,0,0);
          color: #fff;
          border-radius: 3px;
        }

        .red-bg {
          background-color: rgba(204,0,0,0.85)
        }

        .offwhite-bg {
          background-color: rgba(245,245,245,0.85)
        }

        .btn-primary {
          background-color: rgb(204,0,0);
          border-color: rgb(204,0,0)
        }

        .btn-lg {
          margin-top: 4px;
        }

        .block-secondary {
          border-bottom: 2px solid rgba(245,245,245,0.85)
        }

        .google-maps {
          position: relative;
          padding-bottom: 75%;
          height: 0;
          overflow: hidden;
        }

        .google-maps iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100% !important;
          height: 100% !important;
        }

        .fee-item {
          width: 100%;
        }

        .fee-desc {
          width: 80%;
          display: inline-block;
          text-align: left;
        }

        .fee-amount {
          width: 20%;
          display: inline-block;
          text-align: right;
        }

        .fee-amount::before{
          content: '$';
          /* margin-left: 3rem; */
        }

        .stage-shelf {
          position: fixed;
        }

        .is-padless-top {
           padding-top: 0 !important;
        }
 
        .is-padless-bottom {
           padding-bottom: 0 !important;
        }

        .is-marginless-top {
           margin-top: 0 !important;
        }
 
        .is-marginless-bottom {
           margin-bottom: 0 !important;
        }

        @media (min-width: 1024px){
           .navbar-nav {
              margin: 7.25px -10px;
           }
        }
