<!-- about -->
<div id="about" class="block block-inverse block-secondary red-bg">
  <div class="container">
    <div class="row app-align-center">
      <div class="col-sm-5 col-sm-push-7">
        <img src="/img/spp_logo_medium.png" style="max-width: 100%">
      </div>

      <div class="col-sm-6 col-sm-pull-5">
        <h6 class="text-muted text-uppercase">{{ page.title }}</h6>
        <h3 class="m-t-0">{{ page.subtitle }}</h3>
        <p class="lead m-b-md text-muted">{{ page.lead }}</p>
        {{ content }}
      </div>
    </div>
  </div>
</div>
