
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Strathmore Physiotherapy and Pilates">

    <title>{{page.title}}</title>


      <link href='https://fonts.googleapis.com/css?family=Lora:400,400italic|Work+Sans:300,400,500,600' rel='stylesheet' type='text/css'>
      <link href="/css/toolkit-startup.css" rel="stylesheet">
      <link href="/css/application-startup.css" rel="stylesheet">

      <link rel="apple-touch-icon" sizes="57x57" href="/img/favicons/apple-icon-57x57.png">
      <link rel="apple-touch-icon" sizes="60x60" href="/img/favicons/apple-icon-60x60.png">
      <link rel="apple-touch-icon" sizes="72x72" href="/img/favicons/apple-icon-72x72.png">
      <link rel="apple-touch-icon" sizes="76x76" href="/img/favicons/apple-icon-76x76.png">
      <link rel="apple-touch-icon" sizes="114x114" href="/img/favicons/apple-icon-114x114.png">
      <link rel="apple-touch-icon" sizes="120x120" href="/img/favicons/apple-icon-120x120.png">
      <link rel="apple-touch-icon" sizes="144x144" href="/img/favicons/apple-icon-144x144.png">
      <link rel="apple-touch-icon" sizes="152x152" href="/img/favicons/apple-icon-152x152.png">
      <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-icon-180x180.png">
      <link rel="icon" type="image/png" sizes="192x192"  href="/img/favicons/android-icon-192x192.png">
      <link rel="icon" type="image/png" sizes="32x32" href="/img/favicons/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="96x96" href="/img/favicons/favicon-96x96.png">
      <link rel="icon" type="image/png" sizes="16x16" href="/img/favicons/favicon-16x16.png">
      <link rel="manifest" href="/manifest.json">
      <meta name="msapplication-TileColor" content="#ffffff">
      <meta name="msapplication-TileImage" content="/img/favicons/ms-icon-144x144.png">
      <meta name="theme-color" content="#ffffff">
      <link href="/css/main.css" rel="stylesheet">
  </head>

<body>

  <div class="stage-shelf stage-shelf-right hidden" id="sidebar">
    <ul class="nav nav-bordered nav-stacked">
      {% for menuitem in page.menu %}
      <li >
        <a href="#{{ menuitem | downcase | replace: " ","-" }}">{{ menuitem }}</a>
      </li>
      {% endfor %}
      <li>
        <span class="icon icon-phone">&nbsp;</span><a href="tel:{{ page.telephone | replace: " ","" | replace: ")","" }}">{{ page.telephone }}</a>
      </li>
    </ul>
</div>

<div class="stage" id="stage">

<div class="block block-inverse block-fill-height app-header red-tint"
     style="background-image: url(/img/home.jpg); background-position: right;">

  <nav class="navbar navbar-transparent navbar-fixed-top navbar-padded p-t-md">
  <div class="container">

    <div class="navbar-header ">
      <button type="button" class="navbar-toggle collapsed"
              data-target="#stage" data-toggle="stage" data-distance="-250">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>

    <div class="navbar-collapse collapse text-uppercase">
      <ul class="nav navbar-nav" style="margin-left: 40px;">
      {% for menuitem in page.menu %}
      <li >
        <a href="#{{ menuitem | downcase | replace: " ","-" }}">{{ menuitem }}</a>
      </li>
      {% endfor %}
      <li>
        <span class="icon icon-phone">&nbsp;</span><a href="tel:{{ page.telephone | replace: " ","" | replace: ")","" }}">{{ page.telephone }}</a>
      </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<!-- full-screen splash -->
  <div class="block-xs-middle p-b-lg">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-md-6">
          <h1 class="block-title m-b-sm">{{ page.title }}</h1>
          <p class="lead m-b-md text-muted">{{ content }}</p>
          <a href="#about"><button class="btn btn-primary btn-lg">Learn more</button></a>
        </div>
      </div>
    </div>
  </div>

</div>

{% include about.html %}

<!-- physiotherapy -->
<div id="physiotherapy" class="block block-secondary">
  <div class="container">
    <div class="row app-align-center">

      <div class="col-sm-5 hidden-xs">
        <img class="app-iphone" src="assets/img/physiotherapy.jpg" style="width: 100%;">
      </div>

      <div class="col-sm-6 col-sm-offset-1">
        <h6 class="text-muted text-uppercase">Physiotherapy</h6>
        <h3 class="m-t-0">Our commitment to continuous learning means you get the latest research-based treatments.</h3>
        <p class="lead m-b-md">Our qualified physiotherapists use their extensive knowledge to develop the most effective treatment plans for problems such as:</p>
        <div class="row hidden-sm" style="padding-bottom: 0rem">
          <div class="col-sm-6 m-b-md">
            <ul class="iconlist">
              <li><span class="icon icon-check"></span>Neck, middle and lower back pain</li>
              <li><span class="icon icon-check"></span>Sports Injuries</li>
              <li><span class="icon icon-check"></span>Headaches</li>
              <li><span class="icon icon-check"></span>Muscle, joint and tendon injuries</li>
              <li><span class="icon icon-check"></span>Poor postural control</li>
            </ul>
          </div>
          <div class="col-sm-6">
            <ul class="iconlist">
              <li><span class="icon icon-check"></span>Pre and post pregnancy related pain</li>
              <li><span class="icon icon-check"></span>Nerve pain and neurodynamic dysfunction</li>
              <li><span class="icon icon-check"></span>Chronic pain</li>
              <li><span class="icon icon-check"></span>Hypermobility syndrome</li>
              <li><span class="icon icon-check"></span>Pre and post surgery rehabilitation</li>
              <li><span class="icon icon-check"></span>Workcover/TAC injuries</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- clinical pilates -->
<div id="clinical-pilates" class="block block-secondary">
  <div class="container">
    <div class="row app-align-center">
      <div class="col-sm-5 col-sm-push-7">
        <img src="assets/img/pilates.jpg" style="max-width: 100%">
      </div>

      <div class="col-sm-6 col-sm-pull-5">
        <h6 class="text-muted text-uppercase">Experts in clinical pilates</h6>
        <h3 class="m-t-0">Extensive programs in our fully equipped pilates studio.</h3>
        <p class="lead m-b-md">Clinical pilates is an individualised form of resistance-based exercise based on ongoing clinical research. The exercises provide dynamic core stability to improve the  functional strength of your spine and limbs.</p>
        <p class="m-b-md">
Unlike the more aerobics-style general pilates classes, your clinical pilates treatment is tailored to your specific needs and delivered by our accredited physiotherapists in our fully equipped studio.</p>
        <p class="m-b-md">It all begins with a comprehensive consultation. This is followed by four one-on-one sessions to allow you to become comfortable with your program and the equipment. You can then choose to join a class (maximum of 3 participants) or continue with the one-on-one sessions.</p>
        <p class="m-b-md">Classes run mornings, afternoons and evenings.</p>
      </div>
    </div>
  </div>
</div>

<!-- What to expect -->
<div id="first-visit" class="block block-secondary">
  <div class="container">
    <div class="row app-align-center">
      <div class="col-sm-5">
        <img src="assets/img/firstvisit.jpg" style="max-width: 100%">
      </div>

      <div class="col-sm-6 col-sm-offset-1">
        <h6 class="text-muted text-uppercase">What to expect on your first visit</h6>
        <h3 class="m-t-0">Immediate improvement and a clear treatment plan</h3>
        <p class="lead m-b-md">After your first visit we aim to have you feeling an immediate improvement and provide you with:</p>
        <ul class="lead m-b-md iconlist">
          <li><span class="icon icon-check"></span>a clear understanding of your problem</li>
          <li><span class="icon icon-check"></span>a treatment plan</li>
          <li><span class="icon icon-check"></span>strategies to prevent the problem reoccurring.</li>
        </ul>
        <p class="m-b-md">We take the time to thoroughly assess you and any scans or referrals to develop an accurate diagnosis. We'll also talk to you about your aims and goals.</p>
        <p class="m-b-md">
We then discuss your prognosis with you. We'll clearly outline your treatment plan and how long it will take. We are always striving for a long term cure, not just a short term fix.</p>
      </div>
    </div>
  </div>
</div>

<!-- staff -->
<div id="staff" class="block block-secondary app-high-praise p-b-0">
  <div class="container">

    <div id="carousel-staff" class="carousel carousel-light slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carousel-staff" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-staff" data-slide-to="1"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <div class="row app-align-center">
            <div class="col-sm-5 col-sm-push-7">
                <img src="assets/img/ash.jpg">
            </div>
            <div class="col-sm-6 col-sm-pull-5">
              <h6 class="text-muted text-uppercase">Ashley Metcalfe<br/>owner Strathmore Physiotherapy and Pilates</h6>
              <h3 class="m-t-0 m-b-md">“A quote here, either a personal belief about health or a compelling reason why people should use SPP”</h3>
              <p class="m-b-md">After graduating from LaTrobe University, Ash spent seven years gaining experience in Melbourne’s hospital system and in private physiotherapy practices.</p>
              <p class="m-b-md">In 2007, Ash opened Strathmore Physiotherapy & Pilates. To provide his clients with the very best treatments, he continuously updates his knowledge undertaking further study in a range of specialist areas including clinical pilates training.</p>
              <p class="m-b-md">Ash was the chief physiotherapist for the Strathmore Football Club. He loves to keep fit and is a keen runner and triathlete. </p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="row app-align-center">
            <div class="col-sm-5 col-sm-push-7">
                <img src="assets/img/ash.jpg">
            </div>
            <div class="col-sm-6 col-sm-pull-5">
              <h6 class="text-muted text-uppercase">Jane Doe<br/>Physiotherapist</h6>
              <h3 class="m-t-0 m-b-md">“A quote here, either a personal belief about health or a compelling reason why people should use SPP”</h3>
              <p class="m-b-md">Ashley Metcalfe, owner Strathmore Physiotherapy and Pilates</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--

    -->

  </div>
</div>

<!-- fees -->
<div id="fees" class="block block-secondary app-block-marketing-grid offwhite-bg">
  <div class="container text-center">

    <div class="row m-b-lg">
      <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
        <h6 class="text-muted text-uppercase">Our Fees</h6>
        <h3  class="m-t-0 m-b">We have HICAPS and all our services can be claimed on your private health insurance<sup>*</sup>.</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 p-x-md m-b-lg">
        <p><strong>Physiotherapy</strong></p>
        <p class="fee-item"><span class="fee-desc">Initial consultation (40 mins)</span><span class="fee-amount">80</span></p>
        <p class="fee-item"><span class="fee-desc">Consultation (20-30 mins)</span><span class="fee-amount">65</span></p>
      </div>
      <div class="col-sm-6 col-sm-offset-3 p-x-md m-b-lg">
        <p><strong>Clinical Pilates</strong></p>
        <p class="fee-item"><span class="fee-desc">Initial consultation (40 mins)</span><span class="fee-amount">80</span></p>
        <p class="fee-item"><span class="fee-desc">One-on-one consultation (40 mins)</span><span class="fee-amount">68</span></p>
        <p class="fee-item"><span class="fee-desc">Class (40 mins, max 3 participants)</span><span class="fee-amount">33</span></p>
      </div>
    </div>

    <div class="row m-b-lg">
      <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-lg-8 col-lg-offset-2">
        <p><sup>*</sup>If you have physiotherapy extras on your private health insurance.</p>
        <p>All clinical pilates treatments, including classes, are delivered by a physiotherapist and can be claimed as a physiotherapy service.</p>
        <p>We require 24 hours notice for cancelling an appointment or a full fee will be charged.</p>
        <p>We do not do home visits.</p>
      </div>
    </div>
  </div>
</div>

<!-- summary -->
<div class="block block-secondary block-inverse app-block-marketing-grid red-bg">
  <div class="container text-center">

    <div class="row m-b-lg">
      <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
        <h6 class="text-muted text-uppercase">Strathmore Physiotherapy &amp; Pilates</h6>
        <h3  class="m-t-0 m-b">We strive for long term cures, not short term fixes.</h3>
      </div>
    </div>

    <div class="row app-marketing-grid">
      <div class="col-sm-4 p-x-md m-b-lg">
        <p><strong>HICAPS available.</strong><br/>All services can be claimed via your private health (depending on benefits).</p>
      </div>
      <div class="col-sm-4 p-x-md m-b-lg">
        <p><strong>No referral required.</strong><br/>Except for Medicare Enhanced Primary Care and DVA patients.</p>
      </div>
      <div class="col-sm-4 p-x-md m-b-lg">
        <p><strong>TAC and Workcover welcome.</strong><br/>No gap fee charged.</p>
      </div>
    </div>

    <div class="row app-marketing-grid">
      <div class="col-sm-4 p-x-md m-b-lg">
        <p><strong>DMA trained.</strong><br/>Your program will incorporate the most modern, scientific techniques available..</p>
      </div>
      <div class="col-sm-4 p-x-md m-b-lg">
        <p><strong>Pilates classes available.</strong><br/>Small group sessions run mornings, afternoons and evenings.</p>
      </div>
      <div class="col-sm-4 p-x-md m-b-lg">
        <p><strong>Full range of products.</strong><br/>We have an extensive range of equipment at competitive prices.</p>
      </div>
    </div>
  </div>
</div>

<!-- contact -->
<div id="contact" class="block block-inverse app-footer">
 <div class="container">
    <div class="row">
      <div class="col-sm-5 m-b-md">
        <ul class="list-unstyled list-spaced">
          <li class="text-muted">
<strong>Strathmore Physiotherapy &amp; Pilates</strong> provides the latest research-based treatments, including clinical pilates, to clients in Strathmore, Essendon, Pascoe Vale, Oak Park and Moonee Ponds.
          </li>
        </ul>
        <br/>
        <ul class="list-unstyled list-spaced">
          <li class="m-b"><h6 class="text-uppercase">Opening hours</h6></li>
          <li class="text-muted">
            <strong>Monday</strong> 8.45am - 8pm
          </li>
          <li class="text-muted">
            <strong>Tuesday</strong> 8am - 8pm
          </li>
          <li class="text-muted">
            <strong>Wednesday</strong> 8.30am - 8pm
          </li>
          <li class="text-muted">
            <strong>Thursday</strong> 9am - 1pm / 5pm - 8pm
          </li>
          <li class="text-muted">
            <strong>Friday</strong> 8am - 5.30pm
          </li>
          <li class="text-muted">
            <strong>Closed Saturday and Sunday.</strong>
          </li>
        </ul>
      </div>
      <div class="col-sm-5 col-sm-offset-1 m-b-md">
        <ul class="list-unstyled list-spaced">
          <li class="m-b"><h6 class="text-uppercase">Contact</h6></li>
          <li class="text-muted">
            <strong>Address</strong> 1/279 Napier St, Strathmore VIC 3041
          </li>
          <li class="text-muted">
            <strong>Phone</strong> (03) 9379 3831
          </li>
          <li class="text-muted">
            <strong>Email</strong> <a href="mailto:contact@strathmorephysioandpilates.com.au">contact@strathmorephysioandpilates.com.au</a>
          </li>
        </ul>
        <br/>
        <div class="google-maps">
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6310.5084737793695!2d144.9147683807432!3d-37.73717938671194!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4bcb2927cee18e83!2sStrathmore+Physiotherapy+%26+Pilates!5e0!3m2!1sen!2sau!4v1469706960380" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-sm-12 text-muted">&copy;2017 Strathmore Physiotherapy &amp; Pilates</div>
    </div>
  </div>
</div>

</div><!-- #stage -->

    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.bootstrap-autohidingnavbar.js"></script>
    <script src="/js/toolkit.js"></script>
    <script src="/js/application.js"></script>
    <script type="text/javascript">
      $(function() {
        $('a[href*="#"]:not([href="#"])').click(function() {
          if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
            if (target.length) {
              $('html, body').animate({
                scrollTop: target.offset().top
              }, 1000);
              $('#stage').stage('close');
              return false;
            }
          }
        });
      });

      $(".navbar-fixed-top").autoHidingNavbar('animationDuration',5000);
    </script>
  </body>
</html>
