
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Strathmore Physiotherapy and Pilates">

    <title>{{page.title}}</title>


      <link href='https://fonts.googleapis.com/css?family=Lora:400,400italic|Work+Sans:300,400,500,600' rel='stylesheet' type='text/css'>
      <link href="/css/toolkit-startup.css" rel="stylesheet">
      <link href="/css/application-startup.css" rel="stylesheet">

      <link rel="apple-touch-icon" sizes="57x57" href="/img/favicons/apple-icon-57x57.png">
      <link rel="apple-touch-icon" sizes="60x60" href="/img/favicons/apple-icon-60x60.png">
      <link rel="apple-touch-icon" sizes="72x72" href="/img/favicons/apple-icon-72x72.png">
      <link rel="apple-touch-icon" sizes="76x76" href="/img/favicons/apple-icon-76x76.png">
      <link rel="apple-touch-icon" sizes="114x114" href="/img/favicons/apple-icon-114x114.png">
      <link rel="apple-touch-icon" sizes="120x120" href="/img/favicons/apple-icon-120x120.png">
      <link rel="apple-touch-icon" sizes="144x144" href="/img/favicons/apple-icon-144x144.png">
      <link rel="apple-touch-icon" sizes="152x152" href="/img/favicons/apple-icon-152x152.png">
      <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-icon-180x180.png">
      <link rel="icon" type="image/png" sizes="192x192"  href="/img/favicons/android-icon-192x192.png">
      <link rel="icon" type="image/png" sizes="32x32" href="/img/favicons/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="96x96" href="/img/favicons/favicon-96x96.png">
      <link rel="icon" type="image/png" sizes="16x16" href="/img/favicons/favicon-16x16.png">
      <link rel="manifest" href="/manifest.json">
      <meta name="msapplication-TileColor" content="#ffffff">
      <meta name="msapplication-TileImage" content="/img/favicons/ms-icon-144x144.png">
      <meta name="theme-color" content="#ffffff">
      <link href="/css/main.css" rel="stylesheet">
  </head>

<body>

  <div class="stage-shelf stage-shelf-right hidden" id="sidebar">
    <ul class="nav nav-bordered nav-stacked">
      {% for menuitem in page.menu %}
      <li >
        <a href="#{{ menuitem | downcase | replace: " ","-" }}">{{ menuitem }}</a>
      </li>
      {% endfor %}
      <li>
        <span class="icon icon-phone">&nbsp;</span><a href="tel:{{ page.telephone | replace: " ","" | replace: ")","" }}">{{ page.telephone }}</a>
      </li>
    </ul>
</div>

<div class="stage" id="stage">

<div class="block block-inverse block-fill-height app-header red-tint"
     style="background-image: url(/img/home.jpg); background-position: right;">

  <nav class="navbar navbar-transparent navbar-fixed-top navbar-padded p-t-md">
  <div class="container">

    <div class="navbar-header ">
      <button type="button" class="navbar-toggle collapsed"
              data-target="#stage" data-toggle="stage" data-distance="-250">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>

    <div class="navbar-collapse collapse text-uppercase">
      <ul class="nav navbar-nav" style="margin-left: 40px;">
      {% for menuitem in page.menu %}
      <li >
        <a href="#{{ menuitem | downcase | replace: " ","-" }}">{{ menuitem }}</a>
      </li>
      {% endfor %}
      <li>
        <span class="icon icon-phone">&nbsp;</span><a href="tel:{{ page.telephone | replace: " ","" | replace: ")","" }}">{{ page.telephone }}</a>
      </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<!-- full-screen splash -->
  <div class="block-xs-middle p-b-lg">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-md-6">
          <h1 class="block-title m-b-sm">{{ page.title }}</h1>
          <p class="lead m-b-md text-muted">{{ content }}</p>
          <a href="#about"><button class="btn btn-primary btn-lg">Learn more</button></a>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- start sections -->

  {% for section in site.sections %}
  <p>{{section.title}}</p>
  <p>{{section.subtitle}}</p>
  {% endfor %}
  
<!-- end sections -->

</div><!-- #stage -->

    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.bootstrap-autohidingnavbar.js"></script>
    <script src="/js/toolkit.js"></script>
    <script src="/js/application.js"></script>
    <script type="text/javascript">
      $(function() {
        $('a[href*="#"]:not([href="#"])').click(function() {
          if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
            if (target.length) {
              $('html, body').animate({
                scrollTop: target.offset().top
              }, 1000);
              $('#stage').stage('close');
              return false;
            }
          }
        });
      });

      $(".navbar-fixed-top").autoHidingNavbar('animationDuration',5000);
    </script>
  </body>
</html>
