
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Strathmore Physiotherapy and Pilates">

    <title>{{page.title}}</title>


      <link href='https://fonts.googleapis.com/css?family=Lora:400,400italic|Work+Sans:300,400,500,600' rel='stylesheet' type='text/css'>
      <link href="css/toolkit-startup.css" rel="stylesheet">
      <link href="css/application-startup.css" rel="stylesheet">

      <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-icon-57x57.png">
      <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-icon-60x60.png">
      <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-icon-72x72.png">
      <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-icon-76x76.png">
      <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-icon-114x114.png">
      <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-icon-120x120.png">
      <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-icon-144x144.png">
      <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-icon-152x152.png">
      <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-icon-180x180.png">
      <link rel="icon" type="image/png" sizes="192x192"  href="img/favicons/android-icon-192x192.png">
      <link rel="icon" type="image/png" sizes="32x32" href="img/favicons/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="96x96" href="img/favicons/favicon-96x96.png">
      <link rel="icon" type="image/png" sizes="16x16" href="img/favicons/favicon-16x16.png">
      <link rel="manifest" href="manifest.json">
      <meta name="msapplication-TileColor" content="#ffffff">
      <meta name="msapplication-TileImage" content="img/favicons/ms-icon-144x144.png">
      <meta name="theme-color" content="#ffffff">
      <link href="css/main.css" rel="stylesheet">
  </head>

<body>

  <div class="stage-shelf stage-shelf-right hidden" id="sidebar">
    <ul class="nav nav-bordered nav-stacked">
      {% for menuitem in page.menu %}
      <li >
        <a href="#{{ menuitem | downcase | replace: " ","-" }}">{{ menuitem }}</a>
      </li>
      {% endfor %} 
    </ul>
  </div>

<div class="stage" id="stage">

<div class="block block-inverse block-fill-height app-header red-tint"
     style="background-image: url(img/home.jpg); background-position: right;">

  <nav class="navbar navbar-transparent navbar-fixed-top navbar-padded p-t-md">
  <div class="container">

    <div class="navbar-header ">
      <a class="hidden-md hidden-lg" style="color: white; font-weight: bold" href="tel:{{ page.telephone | replace: " ","" | replace: ")","" | replace: "(","" }}"><span class="icon icon-phone">&nbsp;</span>{{ page.telephone }}</a>
      <type="button" class="navbar-toggle collapsed"
              data-target="#stage" data-toggle="stage" data-distance="-250">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>

    <div class="navbar-collapse collapse text-uppercase">
      <ul class="nav navbar-nav" style="margin-left: 40px;">
      {% for menuitem in page.menu %}
      <li >
        <a href="#{{ menuitem | downcase | replace: " ","-" }}">{{ menuitem }}</a>
      </li>
      {% endfor %}
      <li>
        <a href="tel:{{ page.telephone | replace: " ","" | replace: ")","" | replace: "(","" }}"><span class="icon icon-phone">&nbsp;</span>{{ page.telephone }}</a>
      </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<!-- full-screen splash -->
  <div class="block-xs-middle p-b-lg">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-md-6">
          <h1 class="block-title m-b-sm">{{ page.title }}</h1>
          <p class="lead m-b-md text-muted">{{ content }}</p>
          <a href="#about"><button class="btn btn-info btn-lg">Learn more</button></a>
          <a href="#contact"><button class="btn btn-primary btn-lg">Book online</button></a>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- start sections -->
{% for section in site.sections %}

{% if section.name == 'aboutus' %}
  
<!-- about -->
<div id="about" class="block block-inverse block-secondary red-bg">
  <div class="container">
    <div class="row app-align-center">
      <div class="col-sm-5 col-sm-push-7">
        <img src="img/spp_logo_medium.png" style="max-width: 100%">
      </div>

      <div class="col-sm-6 col-sm-pull-5">
        <h6 class="text-muted text-uppercase">{{ section.heading }}</h6>
        <h3 class="m-t-0">{{ section.subheading }}</h3>
        <p class="lead m-b-md text-muted">{{ section.lead }}</p>
        <p class="m-b-md text-muted">{{ section.content }}</p>
      </div>
    </div>
  </div>
</div>

{% endif %}
  
{% if section.name == 'physiotherapy' %}

<!-- physiotherapy -->
<div id="physiotherapy" class="block block-secondary">
  <div class="container">
    <div class="row app-align-center">

      <div class="col-sm-5 hidden-xs">
        <img class="app-iphone" src="img/physiotherapy.jpg" style="width: 100%;">
      </div>

      <div class="col-sm-6 col-sm-offset-1">
        <h6 class="text-muted text-uppercase">{{ section.heading }}</h6>
        <h3 class="m-t-0">{{ section.subheading }}</h3>
        <p class="lead m-b-md">{{ section.lead }}</p>
        <div class="row hidden-sm" style="padding-bottom: 0rem">
          <div class="col-sm-6 m-b-md is-padless-bottom is-marginless-bottom">
            <ul class="iconlist is-paddless-bottom is-marginless-bottom">
            {% for item in section.leftlist %}
              <li><span class="icon icon-check"></span>{{ item }}</li>
            {% endfor %}
            </ul>
          </div>
          <div class="col-sm-6 is-padless-top is-marginless-top">
            <ul class="iconlist is-padless-top is-marginless-top">
            {% for item in section.rightlist %}
              <li><span class="icon icon-check"></span>{{ item }}</li>
            {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

{% endif %}
  
{% if section.name == 'pilates' %}
  
<!-- clinical pilates -->
<div id="pilates" class="block block-secondary">
  <div class="container">
    <div class="row app-align-center">
      <div class="col-sm-5 col-sm-push-7">
        <img src="img/pilates.jpg" style="max-width: 100%">
      </div>

      <div class="col-sm-6 col-sm-pull-5">
        <h6 class="text-muted text-uppercase">{{ section.heading }}</h6>
        <h3 class="m-t-0">{{ section.subheading }}</h3>
        <p class="lead m-b-md">{{ section.lead }}</p>
        <p class="m-b-md">{{ section.content }}</p>
      </div>
    </div>
  </div>
</div>

{% endif %}
  
{% if section.name == 'firstvisit' %} 
  
<!-- What to expect -->
<div id="first-visit" class="block block-secondary">
  <div class="container">
    <div class="row app-align-center">
      <div class="col-sm-5">
        <img src="img/firstvisit.jpg" style="max-width: 100%">
      </div>

      <div class="col-sm-6 col-sm-offset-1">
        <h6 class="text-muted text-uppercase">{{ section.heading }}</h6>
        <h3 class="m-t-0">{{ section.subheading }}</h3>
        <p class="lead m-b-md">{{ section.lead }}</p>
        <ul class="lead m-b-md iconlist">
        {% for item in section.list %}
          <li><span class="icon icon-check"></span>{{ item }}</li>
        {% endfor %}
        </ul>
        <p class="m-b-md">{{ section.content }}</p>
      </div>
    </div>
  </div>
</div>

{% endif %}
  
{% if section.name == 'staff' %}
  
<!-- staff -->
<div id="staff" class="block block-secondary app-high-praise p-b-0">
  <div class="container">

    <div id="carousel-staff" class="carousel carousel-light slide" data-ride="carousel">
      {% comment %} Changed > 1 to -1 to disable carousel {% endcomment %}     
      {% if site.staff.size == -1 %}
      <ol class="carousel-indicators">
        <li data-target="#carousel-staff" data-slide-to="0" class="active"></li>
        {% for person in site.staff offset:1 %}
           <li data-target="#carousel-staff" data-slide-to="1"></li>
        {% endfor %}
      </ol>
      {% endif %}
      <div class="carousel-inner" role="listbox">
        {% for person in site.staff %}
        {% comment %} Changed 1 to >0 to disable carousel {% endcomment %}
        <div class="item {% if forloop.index>0 %}active{% endif %}">
          <div class="row app-align-center">
            <div class="col-sm-5 col-sm-push-7">
                <img src="img/{{ person.photo }}">
            </div>
            <div class="col-sm-6 col-sm-pull-5">
              <h6 class="text-muted text-uppercase">{{ person.firstname }} {{ person.lastname}}<br/>{{ person.jobtitle }}</h6>
              {% if person.quote %}
              <h3 class="m-t-0 m-b-md">“{{ person.quote }}”</h3>
              {% endif %}
              <p class="m-b-md">{{ person.content }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
  
{% endif %}
  
{% if section.name == 'fees' %}

<!-- fees -->
<div id="fees" class="block block-secondary app-block-marketing-grid offwhite-bg">
  <div class="container text-center">

    <div class="row m-b-lg">
      <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
        <h6 class="text-muted text-uppercase">{{ section.heading }}</h6>
        <h3  class="m-t-0 m-b">{{ section.subheading }}</h3>
      </div>
    </div>

    <div class="row">
      {% for item in section.fees %}
      <div class="col-sm-6 col-sm-offset-3 p-x-md m-b-lg">
        <p><strong>{{ item.category }}</strong></p>
        {% for service in item.services %}
        <p class="fee-item"><span class="fee-desc">{{ service.description }}</span><span class="fee-amount">{{ service.charge }}</span></p>
        {% endfor %}
      </div>
      {% endfor %}
    </div>

    <div class="row m-b-lg">
      <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-lg-8 col-lg-offset-2">
        {{ section.content }}
      </div>
    </div>
  </div>
</div>

{% endif %}
  
{% if section.name == 'summary' %}

<!-- summary -->
<div class="block block-secondary block-inverse app-block-marketing-grid red-bg">
  <div class="container text-center">

    <div class="row m-b-lg">
      <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
        <h6 class="text-muted text-uppercase"> {{ section.heading }} </h6>
        <h3  class="m-t-0 m-b">{{ section.subheading }}</h3>
      </div>
    </div>

    <div class="row app-marketing-grid">
      {% for item in section.summary limit:3 %}
      <div class="col-sm-4 p-x-md m-b-lg">
        <p><strong>{{ item.heading }}</strong><br/>{{ item.desc }}</p>
      </div>
      {% endfor %}
    </div>

    <div class="row app-marketing-grid">
      {% for item in section.summary offset:3 %}
      <div class="col-sm-4 p-x-md m-b-lg">
        <p><strong>{{ item.heading }}</strong><br/>{{ item.desc }}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
  
{% endif %}
  
{% if section.name == 'contact' %}

<!-- contact -->
<div id="contact" class="block block-inverse app-footer">
 <div class="container">
    <div class="row">
      <!-- start left column -->
      <div class="col-sm-5 m-b-md">
        <ul class="list-unstyled list-spaced">
          <li class="text-muted">
            {{ section.content }}
          </li>
        </ul>
        <br/>
        <ul class="list-unstyled list-spaced">
          <li class="m-b"><h6 class="text-uppercase">Opening hours</h6></li>
          {% for hours in section.opening %}
          <li class="text-muted">
            <strong>{{ hours.day }}</strong> {{ hours.times }}
          </li>
          {% endfor %}
        </ul>
        <br/>
        <ul class="list-unstyled list-spaced">
          <li class="m-b"><h6 class="text-uppercase">Contact</h6></li>
          <li class="text-muted">
            <strong>Address</strong> {{ section.address }}
          </li>
          <li class="text-muted">
            <strong>Phone</strong> {{ section.phone }}
          </li>
          {% if section.email %}
          <li class="text-muted">
            <strong>Email</strong> <a href="mailto:{{ section.email }}">{{ section.email  }}</a>
          </li>
          {% endif %}
        </ul>
        <br/>
        <div class="google-maps">
           <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3155.370218917076!2d144.91686931531643!3d-37.734457979766844!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad65b78f7d6388b%3A0x8dd52d6d52908d29!2s51+Loeman+St%2C+Strathmore+VIC+3041!5e0!3m2!1sen!2sau!4v1549534148758" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>        
        </div>
      </div>
      <!-- end left column -->
      <!-- start right column -->
      <div class="col-sm-5 col-sm-offset-1 m-b-md">
        <!-- insert Cliniko iframe -->
        <iframe id='cliniko-98170994' src='https://strathmore-physiotherapy-and-pilates.au2.cliniko.com/bookings?embedded=true' frameborder='0' scrolling='auto' width='100%' height='1000' style='pointer-events: auto;'></iframe>
        <script type='text/javascript'>
          window.addEventListener('message', function handleIFrameMessage (e) {
            var clinikoBookings = document.getElementById('cliniko-98170994');
            if (typeof e.data !== 'string') return;
            if (e.data.search('cliniko-bookings-resize') > -1) {
              var height = Number(e.data.split(':')[1]);
              clinikoBookings.style.height = height + 'px';
            }
            e.data.search('cliniko-bookings-page') > -1 && clinikoBookings.scrollIntoView();
         });
        </script>
      </div>
      <!-- end right column -->
    </div>
    <!-- end row -->
    <br/>
    <div class="row">
      <div class="col-sm-12 text-muted">&copy;2019 Strathmore Physiotherapy &amp; Pilates</div>
    </div>
  </div>
  <!-- end container -->
</div>
<!-- end contact -->
{% endif %}
  
{% endfor %}
  
<!-- end sections -->

</div><!-- #stage -->

    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.bootstrap-autohidingnavbar.js"></script>
    <script src="js/toolkit.js"></script>
    <script src="js/application.js"></script>
    <script type="text/javascript">
      $(function() {
        $('a[href*="#"]:not([href="#"])').click(function() {
          if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
            if (target.length) {
              $('html, body').animate({
                scrollTop: target.offset().top
              }, 1000);
              $('#stage').stage('close');
              return false;
            }
          }
        });
      });

      $(".navbar-fixed-top").autoHidingNavbar('animationDuration',5000);
    </script>
  </body>
</html>
