<!-- What to expect -->
<div id="first-visit" class="block block-secondary">
  <div class="container">
    <div class="row app-align-center">
      <div class="col-sm-5">
        <img src="assets/img/firstvisit.jpg" style="max-width: 100%">
      </div>

      <div class="col-sm-6 col-sm-offset-1">
        <h6 class="text-muted text-uppercase">What to expect on your first visit</h6>
        <h3 class="m-t-0">Immediate improvement and a clear treatment plan</h3>
        <p class="lead m-b-md">After your first visit we aim to have you feeling an immediate improvement and provide you with:</p>
        <ul class="lead m-b-md iconlist">
          <li><span class="icon icon-check"></span>a clear understanding of your problem</li>
          <li><span class="icon icon-check"></span>a treatment plan</li>
          <li><span class="icon icon-check"></span>strategies to prevent the problem reoccurring.</li>
        </ul>
        <p class="m-b-md">We take the time to thoroughly assess you and any scans or referrals to develop an accurate diagnosis. We'll also talk to you about your aims and goals.</p>
        <p class="m-b-md">
We then discuss your prognosis with you. We'll clearly outline your treatment plan and how long it will take. We are always striving for a long term cure, not just a short term fix.</p>
      </div>
    </div>
  </div>
</div>
