<!-- clinical pilates -->
<div id="clinical-pilates" class="block block-secondary">
  <div class="container">
    <div class="row app-align-center">
      <div class="col-sm-5 col-sm-push-7">
        <img src="assets/img/pilates.jpg" style="max-width: 100%">
      </div>

      <div class="col-sm-6 col-sm-pull-5">
        <h6 class="text-muted text-uppercase">Experts in clinical pilates</h6>
        <h3 class="m-t-0">Extensive programs in our fully equipped pilates studio.</h3>
        <p class="lead m-b-md">Clinical pilates is an individualised form of resistance-based exercise based on ongoing clinical research. The exercises provide dynamic core stability to improve the  functional strength of your spine and limbs.</p>
        <p class="m-b-md">
Unlike the more aerobics-style general pilates classes, your clinical pilates treatment is tailored to your specific needs and delivered by our accredited physiotherapists in our fully equipped studio.</p>
        <p class="m-b-md">It all begins with a comprehensive consultation. This is followed by four one-on-one sessions to allow you to become comfortable with your program and the equipment. You can then choose to join a class (maximum of 3 participants) or continue with the one-on-one sessions.</p>
        <p class="m-b-md">Classes run mornings, afternoons and evenings.</p>
      </div>
    </div>
  </div>
</div>
