<!-- staff -->
<div id="staff" class="block block-secondary app-high-praise p-b-0">
  <div class="container">

    <div id="carousel-staff" class="carousel carousel-light slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carousel-staff" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-staff" data-slide-to="1"></li>
      </ol>
      
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <div class="row app-align-center">
            <div class="col-sm-5 col-sm-push-7">
                <img src="/img/ash.jpg">
            </div>
            <div class="col-sm-6 col-sm-pull-5">
              <h6 class="text-muted text-uppercase">Ashley Metcalfe<br/>owner Strathmore Physiotherapy and Pilates</h6>
              <h3 class="m-t-0 m-b-md">“A quote here, either a personal belief about health or a compelling reason why people should use SPP”</h3>
              <p class="m-b-md">After graduating from LaTrobe University, Ash spent seven years gaining experience in Melbourne’s hospital system and in private physiotherapy practices.</p>
              <p class="m-b-md">In 2007, Ash opened Strathmore Physiotherapy & Pilates. To provide his clients with the very best treatments, he continuously updates his knowledge undertaking further study in a range of specialist areas including clinical pilates training.</p>
              <p class="m-b-md">Ash was the chief physiotherapist for the Strathmore Football Club. He loves to keep fit and is a keen runner and triathlete. </p>
            </div>
          </div><!-- row -->
        </div><!-- item active -->
        
      </div><!-- carousel-inner -->
    </div><!-- carousel-staff -->
  </div><!-- container -->
</div><!-- staff -->
