<!-- summary -->
<div class="block block-secondary block-inverse app-block-marketing-grid red-bg">
  <div class="container text-center">

    <div class="row m-b-lg">
      <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
        <h6 class="text-muted text-uppercase">Strathmore Physiotherapy &amp; Pilates</h6>
        <h3  class="m-t-0 m-b">We strive for long term cures, not short term fixes.</h3>
      </div>
    </div>

    <div class="row app-marketing-grid">
      <div class="col-sm-4 p-x-md m-b-lg">
        <p><strong>HICAPS available.</strong><br/>All services can be claimed via your private health (depending on benefits).</p>
      </div>
      <div class="col-sm-4 p-x-md m-b-lg">
        <p><strong>No referral required.</strong><br/>Except for Medicare Enhanced Primary Care and DVA patients.</p>
      </div>
      <div class="col-sm-4 p-x-md m-b-lg">
        <p><strong>TAC and Workcover welcome.</strong><br/>No gap fee charged.</p>
      </div>
    </div>

    <div class="row app-marketing-grid">
      <div class="col-sm-4 p-x-md m-b-lg">
        <p><strong>DMA trained.</strong><br/>Your program will incorporate the most modern, scientific techniques available..</p>
      </div>
      <div class="col-sm-4 p-x-md m-b-lg">
        <p><strong>Pilates classes available.</strong><br/>Small group sessions run mornings, afternoons and evenings.</p>
      </div>
      <div class="col-sm-4 p-x-md m-b-lg">
        <p><strong>Full range of products.</strong><br/>We have an extensive range of equipment at competitive prices.</p>
      </div>
    </div>
  </div>
</div>
